VITE_APP_URL=http://localhost:8000
VITE_API_URL=http://localhost:8000/api
VITE_REVERB_KEY=local-key
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=http
VITE_SUPABASE_URL=https://ldcchpnapbvhpvheylkm.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_ZHkT4NXumP-YP5h2bUHDDQ_RIdytmt1
